#square {
    height: 300px;
    width: 300px;
    margin-left: 710px;
    border: 3px solid black;
    background-color: grey;
    transition: border-radius 0.3s;
    display: flex;
    align-items: center;
}

#square:hover {
    border-radius: 50%;
    border-color: blue;
}

.color-button, .custom-button { 
    margin-top: 40px;
    margin: 40px;
    padding: 40px;
    border-radius: 5px;
}

.color-button:hover {
    background-color: var(--color);
  }

  .custom-button:hover {
    background-color: var(--color);
  }

#color-text {
    font-weight: 100px;
    text-align: center;
    width: 100%;
}

h1 {
    margin-left: 755px;
}


#box {
    display: flex;
    justify-content: space-around;

}